<!DOCTYPE html>
<html lang="en">
    <%- include('./includes/head.ejs') %>
    <body>
        <%- include('./includes/navigation.ejs') %>

        <section id="404">
            <div class="container">
                <div class="row py-4"></div>
                <div class="row pt-4 mx-1">
                    <h5 class="pt-2">404</h5>
                </div>
                <div class="row">
                    <div class="card col-md-6 col-sm-10 col-11 mx-auto">
                        <div class="card-body text-center">
                            <h1>Page Not Found</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('./includes/endBody.ejs') %>
    </body>
</html>
